:root {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background: rgb(230,55,255);
  background: radial-gradient(circle, rgba(230,55,255,0.61390493697479) 0%, rgba(70,144,252,1) 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}